body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-color: #fafafa;
}

.nav-wrapper {
    background: #01579b;
}

.brand-logo {
    text-decoration: none;
    margin-left: 20px;
    font-family: 'comic sans ms';
    margin-left: 140px;
}

.tbl-red {
    margin-left: 215px;
    background: #e91e63;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 2px 5px 2px 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comic sans ms';
}

.tbl-red:hover {
    background: #b71c1c;
    text-decoration: none;
}

h3 {
    margin-top: 60px;
    margin-left: 140px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'comic sans ms';
}

.font {
    font-family: 'comic sans ms';
}

a.tbl-pink {
    background: #e91e63;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    margin-left: 215px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comic sans ms';
}

a.tbl-pink:hover {
    background: #b71c1c;
    text-decoration: none;
}

.opsi {
    width: 150px;
}

a.tbl-hijau {
    background: #4caf50;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comic sans ms';
}

a.tbl-hijau:hover {
    background: #1b5e20;
    text-decoration: none;
}

a.tbl-merah {
    background: #f44336 ;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comic sans ms';
}

a.tbl-merah:hover {
    background: #b71c1c;
    text-decoration: none;
}

a.tbl-biru {
    background: #03a9f4;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comic sans ms';
}

a.tbl-biru:hover {
    background: #01579b;
    text-decoration: none;
}

.input {
    width: 400px;
    margin-left: 215px;
    font-family: 'comic sans ms';
}

.input button {
    background: #9e9e9e;
    border-radius: 5px;
    margin-top: 20px;
    padding: 2px 4px 2px 4px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-family: 'comic sans ms';
}

.input button:hover {
    background: #212121;
    text-decoration: none;
}